.navbar-brand img{
    width: 150px !important;
    }
.navbar{
    box-shadow: 1px 1px 1px 1px #eee

    }

    @media(max-width:1050px) and (min-width:1000){
        .nav-link{
            font-size: 14px !important ;

        }

    }
    


@media(max-width:576px){
    .navbar-brand img{
    width: 100px !important;
    }
}


